page-item_info {
    .header {
        .toolbar {
            .title .toolbar-title {
                font-size: 1.55rem !important;

                .icon_box {
                    margin: 0 -10px;

                    ion-icon {
                        position: relative;
                        padding: 0 10px;
                        padding-top: 5px;

                        img {
                            margin: 0;
                            width: 20px;

                        }

                        .badge {
                            position: absolute;
                            top: 0px;
                            right: 5px;
                            padding: 2px 4px 2px 4px;
                            border-radius: 50%;
                            font-weight: 300;
                            font-size: 1rem;
                            background: $red_color;

                        }
                    }
                }
            }
        }
    }

    .banner {
        background: $white;
        border-bottom: 1px solid lighten($gray, 10%) !important;

        .slides {
            .img_box {
                width: 251px;
                margin: 0 auto;
                height: 251px;
                overflow: hidden;
                position: relative;

                img {
                    position: absolute;
                    width: auto;
                    height: 100%;
                    left: -50% !important;
                    right: -50% !important;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }

            }

            .swiper-container-horizontal > .swiper-pagination-bullets {
                right: 0;
                left: unset;
                bottom: 0px;
                width: 100%;
                // width: 88px;
                text-align: right;
                padding: 10px 15px;

                .swiper-pagination-bullet {
                    background: darken($gray, 40%);
                    margin: 0 4px;
                    width: 8px;
                    height: 8px;

                    &.swiper-pagination-bullet-active {
                        background: $theme-color;

                    }
                }
            }
        }
    }

    .form {
        width: 100%;

        .list {
            background: none;
            padding-top: 3px;


            .item {
                padding: 14px 19px 14px 28px;
                border-bottom: 1px solid lighten($gray, 10%) !important;
                border-top: none !important;
                margin-top: 5px;

                .item-inner {
                    .label {
                        margin: 0;
                        white-space: normal;
                        letter-spacing: .5px;

                        h2 {
                            font-size: 1.8rem;
                            color: darken($gray, 100%);
                            font-weight: 500;
                            padding-bottom: 7px;
                        }


                        p {
                            font-size: 1.4rem;
                            letter-spacing: .5px;
                            line-height: 20px;
                            font-weight: 500;
                            color: darken($gray, 100%);
                        }


                        h4 {
                            font-size: 1.5rem;
                            color: lighten($gray, 6%);
                            font-weight: 400;


                            span {
                                &.end {
                                    ion-icon {
                                        color: darken($gray, 100%);
                                        font-size: 1.8rem;
                                        margin: 0 9px;

                                        &:last-child {
                                            margin-right: 0;
                                        }
                                    }
                                }
                            }

                        }
                    }
                }

                &.item-select {
                    min-height: unset;

                    .label {
                        font-size: 1.5rem;
                        color: darken($gray, 100%);
                        font-weight: 500;
                    }

                    .select {
                        padding: 0;

                        .select-icon {
                            display: none;
                        }

                        .select-text {
                            font-size: 1.8rem;
                            color: darken($gray, 100%);
                            font-weight: 500;
                            padding: 0 10px;
                        }
                    }

                    ion-icon {
                        &[item-end] {
                            margin: 0;
                            color: lighten($gray, 6%);
                        }
                    }
                }
            }
        }
    }

    .footer {
        background: $white;
        padding: 3px 5px 3px 27px;
        box-shadow: 0 7px 49px -7px rgba(0, 0, 0, 0.4);

        h2 {
            font-size: 1.9rem;
            color: darken($gray, 100%);
            font-weight: 500;
        }

        .button.btn[block] {
            width: 145px;
            height: 45px;
        }
    }
}
