page-forgotpassword {
    .header .back-button {
        color: darken($white, 100%);
    }

    .form {
        margin: 0 auto;
        width: calc(100% - 42px);

        h2 {

            margin: 0;
            font-size: 1.89rem;
            font-weight: 600;
            padding-bottom: 14px;
        }

        p {
            margin: 0;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: .5px;
            padding-bottom: 10px;
        }

        h3 {
            margin: 0;
            font-size: 1.7rem;
            font-weight: 600;
            margin-top: 20px;
            background: $theme-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .list {
            margin-top: 5px;

            .item {
                padding: 0;
                border-bottom: 1px solid lighten($gray, 20%) !important;
                margin-bottom: 30px;
            }
        }
    }
}
